@import "./bootstrap-icons.css";
@import "./base.css";

:root{
    --text:#000;
    --bg:#ffffff;
    --bg30:#ffffff30;
    --bg50:#ffffff50;
    --bg70:#ffffff70;
    --sd:#7f7f7f7f;
    --card:#ffffff50;
    --hover:#ffffff70;
    --bggrey:#ddd;
    --icobn:0.8;
    --bgul: url('./bg.svg');
    --mm: #ffffffc0;
}

:root.dark{
    --text:#ddd;
    --bg:#000000;
    --bg30:#00000030;
    --bg50:#00000050;
    --bg70:#00000070;
    --sd:#00000070;
    --card:#ffffff10;
    --hover:#ffffff40;
    --bggrey:#444;
    --icobn:1.1;
    --bgul: url('./bg-dark.svg');
    --mm:#ffffff50;
}

body,p{
    transition: 100ms;
}

p {
    margin: 0;
}

html{
    position: fixed;
}

body {
    background: var(--bgul) center;
    background-size: cover;
}

.a {
    color: var(--text);
    text-decoration: none !important;
    cursor: pointer;
}

a.jump{
    cursor: alias !important;
    text-decoration: underline;
    color: #2983cc;
}

body {
    color: var(--text);
    user-select: none;
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    border-radius: 7px;
    height: 14px;
    width: 12px;
}
::-webkit-scrollbar:hover {
    background-color: #ffffff30;
}

::-webkit-scrollbar-thumb {
    background: #7f7f7f70;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent;
}

list>a:active,.tj-obj:active,#cs>list>a:active,#win-calc>.keyb>.b:active{
    transform: scale(0.95);
    filter: blur(0.5px);
    transition: 80ms;
}

#dock-box {
    position: fixed;
    bottom: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
}

.dock {
    border-radius: 7px;
    height: 100%;
    background-color: var(--bg70);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 3px 3px 6px 1px var(--sd);
    padding: 7px 6px;
    margin: 0 3px;
    display: flex;
    transition: 200ms;
    bottom: 0;
}

.dock>* {
    padding-left: 3px;
    padding-right: 3px;
}

.dock>.bi {
    font-size: 28px;
    margin-top: -8px;
}

.dock.about {
    cursor: pointer;
    width: 280px;
    font-size: 18px;
    display: block;
    overflow: hidden;
    padding-left: 10px;
}

.dock.about>p {
    margin-top: 50px;
    font-size: 15px;
    padding-left: 15px;
    display: none;
    opacity: 0;
    transition: 300ms;
    transition-delay: 200ms;
}

.dock.about:hover {
    background-color: var(--bggrey);
}

.dock.about:active>p {
    display: block;
}

.dock.about:active {
    font-size: 13px;
    padding: 10px 45px;
}

.dock.about.show {
    height: 220px;
    width: 500px;
    margin-top: -180px;
    font-size: 23px;
}

.dock.about.show>p {
    display: block;
    margin-top: 5px;
    opacity: 1;
}

.dock.about.show:hover {
    background-color: var(--bg70);
}

.dock.about.show:active {
    font-size: 23px;
    padding: 7px 0 7px 10px;
}

#taskbar{
    padding: 3px 5px;
    transition: 80ms;
    overflow: hidden;
}

#taskbar>a{
    border-radius: 5px;
    height: 34px;
    width: 34px;
    transition: 100ms;
    padding: 4px 0 0 5px;
    display: block;
}

#taskbar>a:hover{
    background-color: var(--hover);
}

#taskbar>a>img{
    width: 24px;
    height: 24px;
}

#taskbar>a::after{
    content: '';
    display: block;
    width: 18px;
    background:linear-gradient(90deg, #ad6eca, #3b91d8);;
    height: 4px;
    border-radius: 2px;
    position: relative;
    bottom: 3px;
    left: 3px;
}

#taskbar>a:hover:after{
    width: 22px;
    left: 1px;
}

.dock.date{
    width: 100px;
    padding: 0px 5px;
    display: block;
    text-align: center;
}

.dock.date>.date{
    margin-top: -8px;
}

.dock.theme{
    transition: 200ms cubic-bezier(0.9, 0, 0.1, 1);
    border-radius: 50%;
    width: 40px;
    padding-left: 3.5px;
    text-align: center;
    box-shadow: 0 0 6px 1px var(--sd);
}

.dock.theme:hover{
    background-color: var(--bggrey);
}

.dock.theme:active{
    transform: rotate(300deg);
}

.dock-btn {
    transition: 200ms;
    width: 32px;
    height: 26px;
    overflow: hidden;
}

.dock-btn:hover {
    filter: brightness(1.2);
}
/* 
.dock-btn:active {
    padding: 2.5px 5.5px;
}

.dock-btn:active>svg {
    width: 21px;
    height: 21px;
}

.dock-btn.show{
    filter: hue-rotate(380deg) brightness(1.1);
} */

#start-btn>svg.menu{
    position: relative;
    top: 27px;
    transition: 200ms;
}

#start-btn.show>svg.menu {
    top: 0;
    transition-delay: 300ms;
}

#start-btn>svg.ico {
    position: relative;
    top: -32px;
    transition: 200ms;
    left: 0;
    transition-delay: 100ms;
}

#start-btn.show>svg.ico {
    width: 13px;
    left: 6px;
    top: -26px;
}

#search-btn>svg.in {
    position: relative;
    display: block;
    top: -29px;
    left: 2.9px;
    width: 16px;
    height: 16px;
    transition: 200ms;
}

#search-btn.show>svg.in{
    width: 18px;
    height: 18px;
    left: 1.9px;
    top: -30px;
    filter: hue-rotate(380deg) brightness(1.1);
}

#start-menu {
    display: none;
    position: fixed;
    bottom: -500px;
    height: 500px;
    max-height: calc(90% - 120px);
    width: 800px;
    left: calc(50% - 400px);
    border-radius: 20px;
    background-color: var(--bg50);
    backdrop-filter: blur(80px) saturate(130%);
    -webkit-backdrop-filter: blur(80px) saturate(130%);
    opacity: 0.8;
    transition: 200ms;
    box-shadow: 3px 3px 15px 1px var(--sd);
    border: 2px solid #7f7f7f10;
    z-index: 99;
}

#start-menu.show-begin {
    display: flex;
}

#start-menu.show {
    display: flex;
    height: 594px;
    max-height: calc(100% - 120px);
    bottom: 60px;
    opacity: 1;
}

#start-menu.max {
    left: 0;
    bottom:-100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 0;
    transition: 200ms cubic-bezier(0.9, 0, 0.1, 1);
}
#start-menu.max>#s-m-l>#s-m-user{
    margin-bottom: 60px;
    top: 10px;
}
#start-menu.max>#s-m-r>.tuijian>.apps>*{
    width: 25%;
}

#start-menu.max.show{
    bottom: 0;
}

#s-m-l {
    min-width: 300px;
    height: 100%;
    padding: 0 10px;
    transition: 400ms;
    display: flex;
    flex-direction: column;
}

#start-menu.max>#s-m-l{
    min-width: 250px;
    width: 25%;
}

#s-m-l>.input {
    padding-left: 30px;
}

input-before {
    display: block;
    font-size: 15px;
    height: 0;
    margin-top: -29px;
    margin-left: 8px;
    margin-bottom: 10px;
    color: var(--text);
}

#s-m-l>list {
    margin-left: 5px;
    margin-top: 40px;
    flex-grow: 1;
    overflow: auto;
}

#s-m-l>list>a {
    padding: 3px 8px;
    font-size: 15px;
    display: flex;
}

#s-m-l>list>a>p {
    margin: 5px 7px;
}

#s-m-l>list>a>img {
    height: 25px;
    width: 25px;
    margin-top: 3px;
}

#s-m-l>list>.text {
    padding-left: 10px;
    font-size: 15px;
    height: 35px;
}

#s-m-r {
    flex-grow: 1;
    margin-left: -15px;
    overflow: hidden;
}

#s-m-r>.row1 {
    display: flex;
    margin-top: 40px;
    margin-bottom: -40px;
    transition: 200ms ease-out;
    transition-delay: 200ms;
    opacity: 0.4;
}

#start-menu.show>#s-m-r>.row1{
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
}

#s-m-r>.row1>.tool {
    width: 200px;
    padding: 5px 10px 0 0;
    transition: 300ms;
}

#s-m-r>.row1>.tool>* {
    float: right;
}

#s-m-r>.row1>.tool>.btn-icon.power {
    overflow: hidden;
    display: flex;
    padding-left: 0;
}

#s-m-r>.row1>.tool>.btn-icon.power:active {
    padding: 1px 0;
    font-size: 23px;
}

#s-m-r>.row1>.tool>.btn-icon.show {
    width: 100px;
    background-color: var(--card);
    box-shadow: 3px 3px 6px var(--sd);
}

#s-m-r>.row1>.tool>.btn-icon.show:hover {
    background-color: var(--card);
}

#s-m-r>.row1>.tool>.btn-icon.power>.bi {
    position: relative;
    height: 33px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 200ms;
}

#s-m-r>.row1>.tool>.btn-icon.power>i.bi-power {
    border-radius: 10px 0 0 10px;
}

#s-m-r>.row1>.tool>.btn-icon.power>i.bi-arrow-counterclockwise {
    border-radius: 0 10px 10px 0;
}

#s-m-r>.row1>.tool>.btn-icon>.bi-arrow-counterclockwise::before {
    position: relative;
    top: 1.15px;
}

#s-m-r>.row1>.tool>.btn-icon>.bi-power::before {
    position: relative;
    top: -2px;
}

#s-m-r>.row1>.tool>.btn-icon.show>.bi-power::before {
    position: relative;
    top: 0;
}

#s-m-r>.row1>.tool>.btn-icon.show>.bi {
    top: -2px;
}

#s-m-r>.row1>.tool>.btn-icon.show>i {
    background-color: var(--card);
}

#s-m-r>.row1>.tool>.btn-icon.show>i:hover {
    background-color: var(--hover);
}

#start-menu.max>#s-m-r>.row1>.tool{
    margin-left: 100px;
    margin-right: 50px;
}

#s-m-r>.row1>.folder {
    display: flex;
    padding: 10px 10px;
    margin: 15px 15px;
    border-radius: 10px;
    background-color: var(--card);
    flex-grow: 1;
    box-shadow: 3px 3px 6px var(--sd);
}

#s-m-r>.row1>.folder>.sm-app {
    height: 72px;
}

#s-m-r>.pinned {
    padding: 10px 10px;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: var(--card);
    box-shadow: 3px 3px 6px var(--sd);
    margin-top: 60px;
    margin-bottom: -60px;
    transition: 300ms ease-out;
    transition-delay: 300ms;
    opacity: 0;
}

#start-menu.show>#s-m-r>.pinned{
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
}

#s-m-r>.pinned>.apps {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}


#s-m-r>.pinned>.title {
    padding: 5px 0 5px 10px;
    font-size: 18px;
    font-weight: 530;
    display: flex;
}

#s-m-r>.pinned>.title>* {
    width: 100%;
}

#s-m-r>.tuijian {
    padding: 10px 10px;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: var(--card);
    box-shadow: 3px 3px 6px var(--sd);
    margin-top: 80px;
    margin-bottom: -80px;
    transition: 400ms ease-out;
    transition-delay: 400ms;
    opacity: 0;
}

#start-menu.show>#s-m-r>.tuijian{
    margin-top: 15px;
    margin-bottom: 0;
    opacity: 1;
}

#s-m-r>.tuijian>.apps {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
#s-m-r>.tuijian>.apps>* {
    transition: 80ms;
}

#s-m-r>.tuijian>.title {
    padding: 5px 0 5px 10px;
    font-size: 18px;
    font-weight: 530;
    display: flex;
}

#s-m-r>.tuijian>.title>* {
    width: 100%;
}

#s-m-user {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    left: calc(50% - 50px);
    background-color: var(--bggrey);
    font-size: 80px;
    transition: 200ms;
    box-shadow: 3px 3px 6px var(--sd);
}

#s-m-user>svg {
    position: relative;
    top: -8px;
    left: 15px;
    width: 70px;
    height: 70px;
}


#search-win {
    display: none;
    position: fixed;
    bottom: -500px;
    height: 500px;
    max-height: calc(90% - 120px);
    width: 600px;
    left: calc(50% - 300px);
    border-radius: 20px;
    background-color: var(--bg50);
    backdrop-filter: blur(80px) saturate(130%);
    -webkit-backdrop-filter: blur(80px) saturate(130%);
    opacity: 0.8;
    transition: 200ms;
    box-shadow: 3px 3px 15px 1px var(--sd);
    border: 2px solid #7f7f7f10;
    z-index: 99;
    padding: 10px;
}

#search-win.show-begin {
    display: flex;
    flex-direction: column;
}

#search-win.show {
    max-height: calc(100% - 120px);
    height: 594px;
    display: flex;
    flex-direction: column;
    bottom: 60px;
    opacity: 1;
}

#search-win>.input {
    padding-left: 30px;
}

#search-win>.tab{
    display: flex;
    margin-top: 25px;
    margin-bottom: 10px;
}

#search-win>.tab>a{
    padding: 4px 7px 3px 7px;
    margin: 0 0;
    text-align: center;
    border-radius: 10px;
    transition: 100ms;
}
#search-win>.tab>a:hover{
    background-color: #ffffff30;
}
#search-win>.tab>a.now{
    background-color: #ffffff30;
}
#search-win>.tab>a.now::after{
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    background-image: linear-gradient(90deg, #ad6eca, #3b91d8);
    width: 100%;
    height: 3px;
    border-radius: 3px;
}
#search-win>.ans{
    display: flex;
    flex-grow: 1;
    overflow: auto;
}
#search-win>.ans>.list{
    width: 250px;
    height: 100%;
}
#search-win>.ans>.list>list>a:hover{
    background-color: #ffffff50;
}
#search-win>.ans>.view{
    flex-grow: 1;
    height: 100%;
}

#datebox{
    display: none;
    position: fixed;
    bottom: 0px;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: var(--bg50);
    backdrop-filter: blur(80px) saturate(130%);
    -webkit-backdrop-filter: blur(80px) saturate(130%);
    opacity: 0;
    transition: 200ms;
    box-shadow: 3px 3px 15px 1px var(--sd);
    border: 2px solid #7f7f7f10;
    z-index: 99;
    padding: 10px;
}

#datebox.show-begin {
    display: flex;
    flex-direction: column;
}

#datebox.show {
    height: 400px;
    display: flex;
    flex-direction: column;
    bottom: 60px;
    opacity: 1;
}

.input {
    background-color: var(--bg70);
    border-radius: 10px;
    border: none;
    border-bottom: 2.5px solid;
    border-bottom-color: #7f7f7f7f;
    padding: 3px 5px 4px 8px;
    outline: medium;
    width: 100%;
    color: var(--text);
}


.input:hover {
    background-color: var(--bg50);
}

.input:focus {
    background-color: var(--bg);
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(var(--bg),var(--bg)),linear-gradient(100deg, #ad6ecaee, #3b91d8ee);
    border-bottom-color: transparent;
}

.btn {
    border: 0px solid;
    border-radius: 10px;
    padding: 7px 10px;
    transition: 100ms;
    background-color: #00000000;
}

.btn-icon {
    border: 0px solid;
    border-radius: 10px;
    padding: 1px 5px;
    background-color: #00000000;
    font-size: 23px;
    height: 33px;
    width: 33px;
}

.btn-icon.big {
    padding: 3px 7px;
    font-size: 19px;
}

.btn:hover {
    background-color: #ffffff50;
}

.btn:active {
    font-size: 17px;
    padding: 4px 8px;
}

.btn-icon.big:active {
    font-size: 13px;
    padding: 6px 10px;
}

#cm{
    display: none;
    position: absolute;
    box-shadow: 3px 3px 6px 1px var(--sd);
    z-index: 101;
    border-radius: 10px;
    background: var(--card);
    backdrop-filter: blur(30px) saturate(120%);
    min-width: 200px;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
    padding: 3px;
    max-height: 0;
}

#cm.show-begin{
    display: block;
}

#cm.show{
    max-height: 100%;
}

#cm>list>*{
    padding: 3px 10px;
    transition: 100ms;
    border-radius: 8px;
}

#cm>.foc{
    display: block;
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.more-btn {
    background-image: linear-gradient(100deg, #ad6ecaee, #3b91d8ee);
    color: #fff;
    padding: 0;
    border-radius: 5px;
    font-size: 12px;
    float: right;
    padding: 4px 5px;
}

.more-btn:hover {
    filter: brightness(0.94);
}

.more-btn>.bi {
    font-size: 10px;
}

.sm-app {
    width: 72px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    transition: 100ms;
    padding: 0 3px;
    color: #888;
    cursor: inherit;
}

.sm-app.enable {
    color: var(--text);
    cursor: pointer;
}

.sm-app.enable:hover {
    background-color: var(--hover);
}

.sm-app.enable>*:first-child {
    filter: brightness(1);
}

.sm-app>*:first-child {
    height: 34px;
    width: 34px;
    margin-top: 12px;
    transition: 100ms;
    filter: contrast(0.4) brightness(0.8);
    text-shadow: 3px 3px 5px var(--sd);
}

.sm-app>*:last-child {
    margin-top: -3px;
    transition: 100ms;
    font-size: 10px;
    line-height: 13px;
}

.sm-app:hover {
    background-color: #7f7f7f20;
}

.sm-app:active {
    padding-top: 5px;
}

.sm-app:active>*:last-child {
    margin-top: 2px;
}

.sm-app:active>*:first-child {
    height: 24px;
    width: 24px;
    filter: contrast(0.4) brightness(0.8);
}

.sm-app.enable:active>*:first-child {
    filter: blur(0.6px);
}

.tj-obj {
    width: 50%;
    height: 55px;
    border-radius: 10px;
    transition: 80ms;
    padding: 0 3px;
    display: flex;
    padding: 10px 3px 10px 10px;
    overflow: hidden;
}

.tj-obj>img {
    height: 35px;
    width: 35px;
    transition: 200ms;
}

.tj-obj>div>*:first-child {
    margin: 3px 0 2px 5px;
    font-size: 15px;
    line-height: 13px;
    white-space: nowrap;
}

.tj-obj>div>*:last-child {
    font-size: 10px;
    line-height: 13px;
    margin-left: 6px;
}

.tj-obj:hover {
    background-color: #ffffff70;
}

list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 10px;
}

list>* {
    width: 100%;
    color: var(--text);
    text-align: inherit;
    border-radius: 10px;
    position: relative;
    display: block;
    padding: 10px 20px;
    transition: 100ms;
    cursor: pointer;
}

list>*:hover {
    color: var(--text);
    background-color: var(--hover);
    text-decoration: none;
    transition: 200ms;
}

list>hr {
    width: calc(100% - 12px);
    padding: 0 !important;
    margin: 2px 6px;
    background-color: #7f7f7f7f;
    border-radius: 5px;
    height: 0.75px;
}

list>hr:hover {
    background-color: #7f7f7f7f;
}

list>.text {
    margin: 0;
}

list>.text:hover {
    background-color: unset;
}

.msg{
    background-color: var(--bg50);
    backdrop-filter: blur(50px) saturate(130%);
    position: fixed;
    right: -430px;
    bottom: 60px;
    width: 430px;
    min-height: 150px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px var(--sd);
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    transition: 400ms cubic-bezier(0.9, 0, 0.1, 1);
    cursor: pointer;
}

.msg:hover{
    transition: 80ms;
    background-color: var(--hover);
}

.msg.show{
    right: 20px;
}

.msg>.main{
    flex-grow: 1;
}

.msg>.hide{
    height: 35px;
    width: 35px;
    min-width: 35px;
    padding-left: 6px;
    margin-right: -5px;
    border-radius: 5px;
    font-size: 23px;
    transition: 100ms;
}

.msg>.hide:hover{
    padding-left: 0;
}

.msg>.hide:active{
    padding-left: 25px;
}

.msg:not(.show)>.hide{
    padding-left: 25px;
}

.msg>.main>.tit{
    font-size: 20px;
    margin-bottom: 5px;
    transition: 100ms;
}

.msg>.main>.cont{
    padding-left: 10px;
    transition: 100ms;
}

.window {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 10%;
    left: 15%;
    margin-left: 10%;
    margin-top: 7%;
    /* 真的是胡整，margin-top和margin-left的百分比都是以width为标准，脑壳乔的 */
    background-color: var(--bg50);
    backdrop-filter: blur(80px) saturate(130%);
    -webkit-backdrop-filter: blur(80px) saturate(130%);
    border-radius: 10px;
    border: 2px solid #7f7f7f20;
    display: none;
    opacity: 0;
    transition: cubic-bezier(0.9, 0, 0.1, 1) 300ms;
    overflow: hidden;
    box-shadow: 3px 3px 15px 1px var(--sd);
    z-index: 98;
}

.window.min{
    height: 50px !important;
    width: 40% !important;
    top: calc(100% - 50px) !important;
    left: 30% !important;
    opacity: 0 !important;
}

.window.show-begin {
    display: block;
}

.window.show {
    margin-left: 0;
    margin-top: 0;
    height: 80%;
    width: 70%;
    opacity: 1;
}

.window.calc.show{
    height: 540px;
    width: 330px;
}

.window.calc{
    height: 250px;
    width: 66px;
}

.window.notrans {
    transition: unset !important;
}

.window>.titbar {
    border-radius: 10px 10px 0 0;
    height: 32px;
    padding: 0 0 0 5px;
    display: flex;
    position: initial;
}

.window>.titbar>p {
    font-size: 16px;
    margin-top: 3px;
}

.window>.titbar>.icon {
    margin: 6px 5px 0 0;
    height: 20px;
    width: 20px;
}

.window>.titbar>div {
    flex-grow: 1;
}

.window>.content{
    width: 100%;
    height: 100%;
}

.window.max {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
}

.wbtg {
    height: 100%;
    float: right;
    width: 45px;
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
    transition: 100ms;
    border-radius: 3px;
}

.wbtg.red {
    border-top-right-radius: 10px;
}

.wbtg:hover {
    background-color: #7f7f7f50;
}

.wbtg.red:hover {
    background-color: #c42b1c;
    color: #fff;
}

#window-fill{
    background-color: var(--bg50);
    backdrop-filter: blur(60px);
    display: none;
    position: fixed;
    transition: cubic-bezier(0.9, 0, 0.1, 1) 200ms;
    margin: 10px;
    border-radius: 20px;
    border: 4px solid var(--bg30);
}

#window-fill.top{
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    display: block;
}

#window-fill.top.fill{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 0;
    left: 0;
}