.wg.calc{
    grid-column-start: span 2;
    grid-row-start: span 3;
}

.wg.calc>.content{
    display: grid;
    grid-template-areas:
        "input input input input"
        "pow sqrt c jia"
        "n7 n8 n9 jian"
        "n4 n5 n6 cheng"
        "n1 n2 n3 chu"
        "dot n0 back ans";
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 25% repeat(5,15%);
    gap: 0px;
}

.wg.calc>.content>input{
    grid-area: input;
    border: none;
    outline: none;
    background-color: #00000000;
    font-size: 33px;
    padding-top: 15px;
    text-align: end;
    color: var(--text);
    width: 100%;
}

.wg.calc>.content>.b{
    margin: 5px 5px;
    font-size: 25px;
    margin: 0;
    border: 1px solid var(--hr);
    text-align: center;
    transition: 50ms;
    background: var(--card);
}
.wg.calc>.content>.b.u{
    /* padding-top: 3px; */
}
.wg.calc>.content>.b.ans{
    border: none;
    background-image: linear-gradient(120deg, #ad6ecacc, #3b91d8cc);
    filter: opacity(0.7);
}
.wg.calc>.content>.b.ans:hover{
    filter: none;
}
.wg.calc>.content>.b:hover{
    background-color: var(--mm);
}
