.window.edge.max>#win-edge {
    padding-bottom: 55px;
}

.window.edge>.titbar>.tabs {
    display: flex;
    flex-grow: 1 !important;
    height: 100%;
    padding: 2px 1px;
    /* overflow-x:auto; */
    overflow: hidden;
}

.window.edge>.titbar>.tabs>.tab {
    display: flex;
    border-radius: 8px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    width: 0;
    flex-grow: 1;
    max-width: 200px;
    min-width: none;
    overflow: hidden;
    transition: 50ms;
}

.window.edge>.titbar>.tabs>.tab::before {
    content: '';
    position: relative;
    width: 1.5px;
    height: 19px;
    top: 3px;
    background: var(--text);
    opacity: 0.3;
    transition: 50ms;
}

.window.edge>.titbar>.tabs>.tab p {
    overflow: hidden;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.window.edge>.titbar>.tabs>.tab.show {
    background: var(--card) !important;
    box-shadow: 0 1px 2px var(--sd);
}

.window.edge>.titbar>.tabs>.tab.close {
    transform: translateY(calc(100% + 5px)) !important;
    opacity: 0.6;
    transition: 150ms;
}

.window.edge>.titbar>.tabs>.tab.left {
    transform: translateX(-100%) !important;
    transition: 150ms;
}

.window.edge>.titbar>.tabs>.tab.right {
    transform: translateX(100%) !important;
    transition: 150ms;
}

.window.edge>.titbar>.tabs>.tab.moving {
    background: var(--unfoc) !important;
    z-index: 1;
}

.window.edge>.titbar>.tabs>.tab:hover {
    background: var(--hover-half);
}

.window.edge>.titbar>.tabs>.tab:hover::before,
.window.edge>.titbar>.tabs>.tab:hover+.tab::before,
.window.edge>.titbar>.tabs>.tab.show::before,
.window.edge>.titbar>.tabs>.tab.show+.tab::before {
    opacity: 0;
}

.window.edge>.titbar>.tabs>.tab>p {
    font-size: 15px;
    margin-left: 7px;
    margin-top: 1px;
    flex-grow: 1;
}

.window.edge>.titbar>.tabs>.tab>.clbtn {
    border-radius: 4px;
    display: block;
    margin: 3px 5px 0 0;
    width: 18px;
    height: 18px;
}

.window.edge>.titbar>.tabs>.tab>.clbtn::before {
    position: relative;
    top: -3px;
    left: 1px;
}

.window.edge>.titbar>.tabs>.tab>.clbtn:hover {
    background: var(--hover);
}

.window.edge>.titbar>.tabs>.new {
    border-radius: 7px;
    margin: 3px 2px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    text-align: center;
    transition: 50ms;
}

.window.edge>.titbar>.tabs>.new::before {
    position: relative;
    top: -3px;
}

.window.edge>.titbar>.tabs>.new:hover {
    background-color: var(--hover-half);
}

#win-edge {
    display: flex;
    flex-direction: column;
    transition: 50ms;
}

#win-edge>.tool {
    display: flex;
    padding: 2px 5px;
}

#win-edge>.tool>.a {
    font-size: 20px;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 50ms;
    margin: 0 1px;
}

#win-edge>.tool>.a>.bi::before {
    position: relative;
    top: var(--top);
}

#win-edge>.tool>.a:hover {
    background-color: var(--hover-half);
}

#win-edge>.tool>input {
    background-color: var(--hover-half);
    border-radius: 50px;
    border: 1.5px solid transparent;
    padding: 3px 14px 4px 10px;
    outline: medium;
    color: var(--text);
    transition: 100ms, border 0s;
    height: 30px;
    margin: 0 2px;
}

#win-edge>.tool>input.url {
    flex-grow: 1;
}

#win-edge>.tool>input.rename:not(.show) {
    width: 0;
    padding: 0;
    border: none;
}

#win-edge>.tool>input.rename.show {
    width: 200px;
}

#win-edge>.tool>input:hover {
    border-color: #7f7f7f7f;
}

#win-edge>.tool>input:focus {
    border-color: var(--href);
}

#win-edge>iframe {
    width: calc(100% - 4px);
    flex-grow: 1;
    margin: 2px;
    border-radius: 10px;
    --bg: var(--bg);
    --text: var(--text);
    display: none;
}

#win-edge>iframe.show {
    display: block;
}

.reloading>svg {
    width: 27px !important;
}

.reloading {
    margin-right: -5px;
    margin-bottom: -4px;
    animation: reload 100ms;
}

@keyframes reload {
    0% {
        margin-right: -27px;
    }

    100% {
        margin-right: -5px;
    }
}

.reloading>svg>circle:first-child {
    stroke: #7f7f7f50;
    fill: none;
    stroke-width: 2px;
}

.reloading>svg>circle:last-child {
    stroke: #2983cc;
    stroke-width: 2px;
}