#win-python-editor *::-webkit-scrollbar-track {
    background-color: transparent;
}

#win-python-editor *::-webkit-scrollbar-thumb {
    background-color: #FFFFFF22;
    border-radius: 0;
}

#win-python-editor *::-webkit-scrollbar-button {
    display: none;
    height: 0px;
    width: 0px;
}

#win-python-editor {
    display: grid;
    grid-template-rows: 60% 40%;
    user-select: all;
}

.window.python-editor .titbar .run {
    font-size: 16px;
    padding-top: 4px;
}

#win-python-ace-editor {
    font-size: 16px;
    line-height: 1.25;
    height: 100%;
}

#win-python-editor .output {
    background-color: #0f0f0f;
    color: #f8f8f2;
    border: 25px solid #1a1a1a !important;
    border: none;
    /* border-radius: 5px; */
    padding: 10px;
    width: 100%;
    height: 100%;
    font: 14px / normal 'Consolas', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: auto;
}

#win-python-editor .output::selection {
    background: #ddd;
    background-clip: content-box;
    color: #333;
}